@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  cursor: "";
}

main {
  min-height: calc(100vh - 90px);
}

header {
  height: 90px;

  #logo {
    font-size: 30px;
  }
  nav {
    width: 55rem;
    font-size: 24px;
  }
}

#hammer-slogan {
  font-size: 9px;
}

#contactMainContainer {
  width: 100vw;
  height: calc(100vh - 90px);
}

#contactContainer {
  height: 717px;
  width: 1120px;
}

.myPagesContainer {
  width: 80vw;
  margin: 10vh 10vw;
  background-color: #f5f7f8;
  display: flex;
  flex-grow: 1;
  border-radius: 0 16px 16px 0;

  nav {
    width: 265px;
    border-radius: 16px 0 0 16px;
    padding: 1rem 0 0 1rem;
    a {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
      }
      span {
        margin-right: 0.5rem;
      }
    }
    a:hover {
      cursor: pointer;
      color: #f4ce14;
    }
  }

  section {
    width: 100%;
    height: 100%;
    border-radius: 0 16px 16px 0;
    h2 {
      font-size: 36px;
      margin-bottom: -0.25rem;
    }
    p {
      font-size: 20px;
      margin-bottom: 36px;
    }
  }
}

.overview {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 36px;
  .head {
    width: 100%;
    height: 50px;
    padding-left: 1.5rem;
  }
  .activeWrapper {
    height: calc(100% - 50px);
    section {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
/*LoginSignup*/

#contactMainContainer {
  width: 100vw;
  height: calc(100vh - 90px);
  margin-top: 20vh;
  margin-bottom: 20vh;

  #contactContainer {
    height: 717px;
    width: 1120px;

    #formContainer {
      height: 500px;
      width: auto;

      h2 {
        font-size: 40px;
        margin-bottom: 20px;
      }

      form {
        width: 482px;
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        font-size: 16px;

        input {
          border-radius: 10px;
          width: 229px;
          height: 44px;
          padding: 0px 1rem;
          outline: none;
        }
        textarea {
          width: 475px;
          height: 183px;
          border-radius: 10px;
          padding: 1rem;
          outline: none;
        }
      }
    }

    #infoContainer {
      height: 500px;
      width: auto;

      h2 {
        font-size: 40px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
        margin-bottom: 2rem;
        line-height: 3rem;
      }
    }
  }
}
