@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}

header {
  height: 90px;

  #logo {
    font-size: 30px;
  }
  nav {
    width: 55rem;
    font-size: 24px;
  }
}
