@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

header {
  height: 90px;

  #logo {
    font-size: 30px;
  }
  nav {
    width: 55rem;
    font-size: 24px;
  }
}

#hammer-slogan {
  font-size: 9px;
}

#contactMainContainer {
  width: 100vw;
  height: calc(100vh - 90px);
}

  #contactContainer {
    height: 717px;
    width: 1120px;
  }


  
    
  


